
.Up{
    background-image: linear-gradient(rgba(108, 153, 194, 0.8), rgba(42, 34, 70, 0.8)),url(../content/images/header.jpg);
    background-origin: border-box; 
    background-repeat: no-repeat;
    padding: 3%;
}

@media screen and (max-width: 800px) {
// header version mobile

.header_title_part1{
    position: relative;
    display: flex;
}

.schedule {
    background-color: $color-bleudefaut;
    color: white;
    max-height: 200px;
    display: block;
    margin: auto;
    border-radius: 40Px;
    padding: 4%;
    width: 50%;
    max-width: 400px;
    min-width: 200px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(40, 50, 59, 0.5); 
   }

.logo_world_skills {
    width: 40%;
    height: 25%;
    max-width: 250px;
    max-height: 170px;
    margin: 8%;
}
.logo_kazan {
    max-width: 330px;
    max-height: 200px;
    margin: 2%;
    width: 40%;
    opacity: 1;
}
.principal_title {
    display: grid;
    font-family: Maven Pro;
    font-size: 4em;
    margin: 1em;
}
.menu_principal-list{
    list-style-type: none;
    color:$color-nav;
}
.menu_principal-item{
    color:$color-nav;
}
.principal_title_span{
    font-family: Montserrat;
    font-size: 0.5em;
}
 .Smartphone_off{
     display: none;
 }
 //essais menu déroulent
 .menu_principal-list{
    font-family:montserrat;
    color:$color-menu;
    padding-top:80%;
    list-style-type: none;
    text-align:right;
    margin-right: 5%;
  }
  .box {
    background-color: $color-bleudefaut;
    height: 100vw;
    width: 100vw;
    margin-left:-800px;
  }
  .transform {
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
  }
  .transform-active {
    height: 100vw;
    width: 100vw;
    margin-left:0px;
  }
  .burger{
    display:flex;
    margin-left:700px;
    z-index:3;
  }

}

@media screen and (min-width: 800px) {
// header version desktop
.Up {
     max-height: 600px;
 }
 .burger {
     display: none;
 }
 .header_title_part1{
     display: flex;
 }
 .header_title_part2{
     display: flex;
     justify-content: center;
 }
 .logo_kazan {
     max-width: 180px;
     max-height: 140px;
     margin: 2%;
     width: 40%;
     opacity: 1;
    
 }
 .menu_principal-list {
     list-style-type: none;
     display: flex;
     align-items: center;
     text-align: right;

 }
 .menu_principal-item{
     margin: 1em;
 }
 .loupe{
     order: 2;
 }
 .menu_principal{
     
     margin: 1em;
     margin-bottom: 0em;
     color: $color-nav;
     font-family: Montserrat;

 }
 .logo_world_skills{
     width: 40%;
     height: 25%;
     max-width: 200px;
     max-height: 170px;
     margin: 1%;

 }
  .principal_title{
     display: grid;
    font-size: 80px;
    text-align: center;
    font-weight: 100;
  }
  .principal_title_span{
    font-size: 32px;
    order: 0;
    font-weight: 400;
  }


 .Smartphone_off{
     font-family: Maven Pro;
     color:white;
     width: 50%;
     max-width: 500px;
     margin: auto;
     margin-bottom: 1em;
 }
 .schedule {
    background-color: $color-bleudefaut;
    color: white;
    max-height: 200px;
    display: block;
    margin: auto;
    border-radius: 40Px;
    padding: 4%;
    width: 50%;
    max-width: 400px;
    min-width: 200px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgba(40, 50, 59, 0.5); 

 }

 .Smartphone_off{
    display: flex;
}

}