
// valable pour les deux
.main_h1 {
    margin-left: 5%;
}
 .images_activities {
     object-fit: cover;
     width: 100%;
     height: 400px;
 }

.activity-details{
    color: white;
    font-family: Montserrat;
}
.activity_subtitle{
    color: #d4ce9a;
    font-family: Montserrat;
    font-size: small;
}
.read-more{
    color: white;
    font-family: Montserrat;
}
.get_ticket{
    background-color: $color-bleudefaut;
    color: white;
    max-height: 200px;
    display: grid;
    margin: auto;
    border-radius: 2rem;
    padding: 2rem;
    width: 50%;
    max-width: 400px;
    min-width: 200px;
    text-transform: uppercase;
    font-family: Montserrat;
    box-shadow: 0px 0px 10px rgba(40, 50, 59, 0.5); 
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}
.ticket_main{
    grid-column: 1/-1
}
.paiement_main{
    font-family: font-icon;
}

 @media screen and (max-width: 800px) {
/* Version portable: les différents lieu fermé */

.lieu {
    background-color: #f9f9f9;
    padding: 1em;
    padding-top: 0.5em;
    margin: 1%;
    height: 150px;
    display: grid;
    transition-duration: .6s;
    list-style-type: none
    
}   

.activity_title_part1 {
    color: $color-titre;
    font-family: Montserrat;
    font-weight: bolder;
    display: grid;
    transition-duration: .6s;
    order: 1;
}
.activity_title_part2 {
    color: $color-titre;
    font-family: Museo;
    font-weight: lighter; 
    transition-duration: .6s;
    order: 1;
}
.activity_situation {
    color: $color-bleudefaut;
    font-family: Montserrat;
    order: 10;
}
 .no_select {
     display: none;
     transition-duration: .6s;
     order: 10;
     
 }
 .images_activities {
     display: none;
     transition-duration: .6s;
     order: 5;
 }
//  .transform {
//     -webkit-transition: all .6s ease;  
//     -moz-transition: all .6s ease;  
//     -o-transition: all .6s ease;  
//     -ms-transition: all .6s ease;  
//     transition: all .6s ease;
//   }
//.transform-active {
  .lieu:hover {

    background-color: $color-titre;
    height: 300px;
    padding-top: 30em;

    .divide_part1 {
        margin-top: -420px;
    }
    .activity_title_part1, .activity_title_part2 {
        color:white;
    }
    .activity_situation {
        display: none;
    }
    .no_select {
        display: inline;
    }
    .images_activities {
        display: inline;
    }
 }
 }
 
@media screen and (min-width: 800px) {
/* Version desktop: */
.size{
    height: 70%;
}
 .activities-list{
    margin: 2rem;
   display: grid;
   gap: 1rem;
   grid-template-columns: 1fr 1fr 1fr 1fr;;
   justify-content: space-between;
   list-style-type: none;
   overflow: hidden;
   height: auto;
 }
 .lieu {
    padding: 4%;
    margin: 0%;
    height: 520px;
    background-color: #f9f9f9;
    padding: 4%;
    overflow: hidden;
 }

 
 .divide_part1 {
    transition-duration: 2s;
}
.activity_title_part1{
     color: $color-titre;
     font-family: Montserrat;
     font-weight: bolder;
     display: grid;
     transition-duration: 2s;
     color:$color-titre;
 }
//  .photo_desktop:hover{
//     margin-top: -32em;;
//  }

.activity_title_part2{
    color: $color-titre;
    font-family: Museo;
    font-weight: lighter; 
    color:$color-titre;
    transition-duration: 2s;
}
.activity_situation{
    color: $color-bleudefaut;
    font-family: Montserrat;
    transition-duration: 2s;
}
.lieu:hover{
    background-color: $color-titre;
    .divide_part1{
        margin-top: -420px;
    }
    .activity_title_part1, .activity_title_part2 {
        color:white;
    }
    .activity_situation {
        display: none;
    }
}

}