/* Version portable: les différents lieu */
@import "_variable.scss";

// valable pour les deux
.main_h1 {
    margin-left: 5%;
}
.images_activities {
    object-fit: cover;
    width: 100%;
    height: 22em;
}

.activity-details{
    color: white;
    font-family: Montserrat;
}
.activity_subtitle{
    color: #d4ce9a;
    font-family: Montserrat;
    font-size: small;
}
.read-more{
    color: white;
    font-family: Montserrat;
}
.get_ticket{
    background-color: $color-bleudefaut;
    color: white;
    max-height: 200px;
    display: grid;
    margin: auto;
    border-radius: 2rem;
    padding: 2rem;
    width: 50%;
    max-width: 400px;
    min-width: 200px;
    text-transform: uppercase;
    font-family: Montserrat;
    box-shadow: 0px 0px 10px rgba(40, 50, 59, 0.5); 
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}
.ticket_main{
    grid-column: 1/-1
}

@media screen and (max-width: 800px) {
/* Version portable: les différents lieu fermé */

.lieu {
    background-color: #f9f9f9;
    padding: 4%;
    margin: 1%;
    height: auto;
    list-style-type: none
}   
.lieu :hover{
    height: 100vw;
    background-color: $color-titre;
}

.activity_title_part1{
    color: $color-titre;
    font-family: Montserrat;
    font-weight: bolder;
    display: grid;
}
.activity_title_part2{
    color: $color-titre;
    font-family: Museo;
    font-weight: lighter; 
}
.activity_situation{
    color: $color-bleudefaut;
    font-family: Montserrat;
}
 .no_select{
     display: none;
 }
 .photo_desktop{
     display: none;
 }
}
@media screen and (min-width: 800px) {
/* Version desktop: */
.size{
    height: 70%;
}
 .activities-list{
     margin: 2rem;
   display: grid;
   gap: 1rem;
   grid-template-columns: 1fr 1fr 1fr 1fr;;
   justify-content: space-between;
   list-style-type: none;
   overflow: hidden;
   height: auto;
 }
 .lieu {
    padding: 4%;
    margin: 1%;
    height: 500px;
    background-color: #f9f9f9;
    padding: 4%;
    overflow: hidden;

    transition-duration: 2s;
 }
//  .divide_part1{
//     background-color: #f9f9f9;
//     margin: 0em;
//     overflow: hidden;

//     transition: 2s;
//  }
//  .divide_part2{
//     background-color: $color-titre;
// }
// .divide_part1:hover{
//     margin-top: -500px;
// }
// .divide_part2:hover{
//     margin-top: -250px;
// }


  .lieu:hover{
     background-color: $color-titre;
     .activity_title_part1{
         margin-top: -500px;
     } 
  }


.activity_title_part1{
     color: $color-titre;
     font-family: Montserrat;
     font-weight: bolder;
     display: grid;
     transition-duration: 2s;
 }
 .photo_desktop{
     transition: all 2s;
     height: 400px;
     object-fit: cover;
 }
//  .photo_desktop:hover{
//     margin-top: -32em;;
//  }

.activity_title_part2{
    color: $color-titre;
    font-family: Museo;
    font-weight: lighter; 
}
.activity_situation{
    color: $color-bleudefaut;
    font-family: Montserrat;
}
// .activity-details{
//     display: none;
// }
// .activity_subtitle{
//     display: none;
// }
// .read-more{
//     display: none;
// }


}