/* Version portable: les différents lieu */
@import "_variable.scss";

/* Version portable: les différents lieu fermé */

.lieu {
    background-color: #f9f9f9;
    padding: 4%;
    margin: 1%;
    height: auto;
}
.images_activities {
    max-width: 100%;
    
}
.activity_title_part1{
    color: $color-titre;
    font-family: Montserrat;
    font-weight: bolder;
    display: grid;
}
.activity_title_part2{
    color: $color-titre;
    font-family: Museo;
    font-weight: lighter; 
}
.activity_situation{
    color: $color-bleudefaut;
    font-family: Montserrat;
}
.activity-details{
    color: white;
    font-family: Montserrat;
}
.activity_subtitle{
    color: #d4ce9a;
    font-family: Montserrat;
    font-size: small;
}
.read-more{
    color: white;
    font-family: Montserrat;
}
.get_ticket{
background-color: $color-bleudefaut;
    color: white;
    max-height: 200px;
    display: grid;
    margin: auto;
    border-radius: 2rem;
    padding: 2rem;
    width: 50%;
    max-width: 400px;
    min-width: 200px;
    text-transform: uppercase;
    font-family: Montserrat;
    box-shadow: 0px 0px 10px rgba(40, 50, 59, 0.5); 
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}
.ticket_main{
    grid-column: 1/-1
}
 .no_select{
     display: none;
 }
 .photo_desktop{
     display: none;
 }

/* Version desktop: */

// .activities-list{
// margin: 2rem;
//   display: grid;
//   gap: 1rem;
//   grid-template-columns: 1fr 1fr 1fr 1fr;;
//   justify-content: space-between;
// }
// .lieu {
//     padding: 4%;
//     margin: 1%;
//     height: auto;
// }
